body,body *{
    margin: 0;
    padding: 0;
    font-family:"Calibri" ;
}

/*animação*/
@keyframes animacao1{
    0%{
        opacity: 0;
        transform: scale(1);
    }100%{
        opacity: 1;
        transform: scale(2);
    }
}
/*classes*/
.conteudo{
    width: 80%;
    margin:15px auto; 
}
.destaqueMenu{
    background-color:rgb(132, 165, 235);
    padding: 5px;
    cursor:default;
}
.destaqueMenu:hover{
    text-decoration:none;
}
.w15{
    width: 15%;
}
.imgContent{
    width: 40%;
    margin-top: 20px;
    margin-bottom: 15px;
    display:flex;
}
.imgContent img{
    width: 100%;
    margin:0 0 0 17%;
}
.showServicos{
    margin:5px;
    border: 1px solid white;
    float:left;
    width:180px;
}
.showServicos:hover{
    border:1px solid white;
}
.showServicos img {
    width: 100%;
    height: auto;
    display: block;
}
.descricao{
    margin-left: 3px;
    text-align: center;
}
.boxModel{
    width:800px;
    border: 1px solid white;
    margin-left: 18%;
}
.pngSegmentos{
    width:60%;
    height: auto;
    display: block;
    margin-left:20%;
}
div.icones{
    display:flex;
    flex-direction: column;
}
div.icones i{
    padding: 2.3% 0 0 5%;
} 
div.icones p{
    width: 50%;
    display:flex;
    margin: -1% 0 0 3.5%;
    text-align: justify;
}
.formContato{
    border-radius: 5px;
    background-color: white;
    padding: 50px;
    margin-left: 25%;
}
.just{
    text-align:justify;
    margin-left: 3%;
    padding: 20px;

}
.divulga{
    position:relative;
    width:30%;
    height: 30vh;
    overflow: hidden;
}
.divulga img{
    width:70%;
    position: absolute;
}
.divulga img:nth-child(1){
    width:30%;
    left:25%;
    top:10%;
    opacity: 0;
    animation: animacao1 3s forwards;
    animation-delay: 1s;
    z-index: 1;
}
.diagr1 p{
    padding: 3% 0 0 0;
}
.diagr1{
    width: 55%;
    height: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 0 0 3%;
    margin:-11% 0 0 25%;
}
div.galery{
    margin:2% 0 0 15%;
    width: 300px;
    height: 10%;
    display: flex;
    flex-direction: row;
}
div.galery img{
    width: 60%;
}
div.galery p{
    text-align: left;
    margin: 0 0 0 5%;
}
/*tags*/
ol,ul{
    padding: 0 0 0 40px;
}
header{
    width: 100%;
    height: 13vh;
    background-color: rgb(58, 58, 58);
    color:white
}
footer{
    width: 100%;
    height: 55vh;
    margin-top: 30%;
    background-color: rgb(58, 58, 58);
    color:white
}
footer p{
    margin-top: -2%;
}
footer img{
    width:6%; 
    margin-left:90%;
    margin-top:-5%;
}
header{
    height: 20vh;
}
header img{
    width: 20%;
    position: absolute;
    top:-4vh;
    left: 3%;   
}
nav{
    background-color:rgb(58, 58, 58);
    text-align: center;
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline-block; /* transforma o conteúdo em linha */
    background-color:rgb(58, 58, 58);
    color:white;
    margin: 0 1% 0 0;
    padding: 0.5%;  
}
nav ul li a{
    color:white;
    text-decoration: none;
    font-family:Verdana;   
}
nav ul li a:hover{
    color: rgb(9, 96, 107);
}
h2, hr{
    margin-left: 4%;
    color: #779ACF;   
}
p{
    padding: 20px;
    text-align: center;
}
h4{
    padding:auto;
} 
h3{
    padding: 3vh;
    margin-left: 50px;
} 
label{
    display: flex;
    flex-direction: column;
    margin: 0 0 -2.5% 0;
}
input[type=text]{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin:0 0 0 7%;
    border-radius: 3px;

}
input[type=submit]{
    width:52.5%;
    background-color: green;
    color:white;
    padding: 10px;
    margin: 1% 0 0 7%;
    border-radius: 3px;
    cursor: pointer;
}
input[type=text]:hover{
background-color:(58, 58, 58); 
}
textarea {
    width: 50%;
    height: 150px;
    padding: 10px;
    margin: 1% 0 0 7%;
    border-radius: 3px;
    background-color: #f8f8f8;
    font-size: 16px;
}


